label {margin-top:10px !important;}
.metallo {
	padding:4px;
	text-align: justify;
	background: rgb(254,254,254); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmVmZWZlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZGJkYmRiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjZDFkMWQxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg,  rgba(254,254,254,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(226,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(254,254,254,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(254,254,254,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(254,254,254,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(254,254,254,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(226,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(254,254,254,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(226,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

-webkit-border-bottom-right-radius: .3125em;
-webkit-border-bottom-left-radius: .3125em;
-moz-border-radius-bottomright: .3125em;
-moz-border-radius-bottomleft: .3125em;
border-bottom-right-radius: .3125em;
border-bottom-left-radius: .3125em;

 


}

.ui-mini {
    margin: 0px !important;
}

.bloccosu {
-webkit-border-top-left-radius: .3125em;
-webkit-border-top-right-radius: .3125em;
-moz-border-radius-topleft: .3125em;
-moz-border-radius-topright: .3125em;
border-top-left-radius: .3125em;
border-top-right-radius: .3125em;
	
}

.ombra {
	-webkit-border-radius: .3125em;
-moz-border-radius: .3125em;
border-radius: .3125em;
	border: 0px double #9a0000;
	-moz-box-shadow: 3px 3px 10px #3a3939; 
	-webkit-box-shadow: 3px 3px 10px #3a3939; 
	-o-box-shadow: 3px 3px 10px #3a3939; 
	box-shadow: 3px 3px 10px #3a3939;
}